@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;1,300&family=Rochester&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow: hidden;
}

.container{
  width: 90%;
  position: relative;
  margin-top: 40px;
}
.container-year{
  width: 100%;
  text-align: center;
  position: relative;
}

.year-titulo{
  font-size: 140px;
  font-weight: 500;
  font-family: 'Rochester', cursive;
  transition: all 2ms ease-out;
}
.year-line{
  position: absolute;
  left: 230px;
  margin: auto;
  width: 0;
  max-width: 800px;
  height: 12px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  opacity: 0.8;
  animation: carga 1s ease-in-out 5s forwards;

}
@keyframes carga {
  to {
      width: 90%;
  }
}
.year{
  font-size: 100px;
  font-weight: 600;
  font-family: 'Rochester', cursive;
  margin-top: 20px;
  position: relative;
}

.year-line2{
  position: absolute;
  left: 42%;
  margin: auto;
  width: 0;
  max-width: 200px;
  height: 8px;
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
  animation: carga 1s ease-in-out 5s forwards;
}


@keyframes draw {
  to {
      width: 0;
      height: 100%;
  }
}

.container-letras{
  position: absolute;
  bottom: 0;
  left: 32%;
  width: 100%;
}

.titulo{
  position: absolute;
  margin-top: 20px;
  opacity: 0;
  font-size: 30px;
  transition: opacity 5s ease-out;
  font-family: 'Aladin', cursive;
}

.text1{
  animation: show 4s ease-out 4s ;
}

.text2{
  animation: show 4s ease-out 8s ;
}
.text3{
  animation: show 4s ease-out 12s ;
}



@keyframes show{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.circles {
  position: relative;
}

.circle-l, .circle-s {
  width: 50px;
  height: 50px;
  background-color: #d65050d7;
  border-radius: 50%;
  position: absolute;
}

.circle-s {
  width: 20px;
  height: 20px;
}

.circle-l:nth-child(1) {
  left: 20%;
  top: 0;
  animation: fadeAndScale 2s infinite 6s alternate;
}

.circle-l:nth-child(2) {
  left: 50%;
  top: 20%;
  animation: fadeAndScale 1.5s infinite  alternate
}

.circle-l:nth-child(3) {
  left: 80%;
  top: 30%;
  animation: fadeAndScale 2.2s infinite  alternate
}

.circle-l:nth-child(4) {
  left: 30%;
  top: 50%;
  animation: fadeAndScale 1.8s infinite  alternate
}

.circle-s:nth-child(5) {
  left: 70%;
  top: 40%;
  animation: fadeAndScale 2.5s infinite  alternate
}

.circle-s:nth-child(6) {
  left: 40%;
  top: 70%;
  animation: fadeAndScale 1.7s infinite  alternate
}

.circle-s:nth-child(7) {
  left: 90%;
  top: 60%;
  animation: fadeAndScale 2.3s infinite  alternate
}

.circle-s:nth-child(8) {
  left: 10%;
  top: 80%;
  animation: fadeAndScale 1.9s infinite  alternate
}

.circle-s:nth-child(9) {
  left: 60%;
  top: 90%;
  animation: fadeAndScale 2.1s infinite  alternate
}

@keyframes fadeAndScale {
  from {
      opacity: 1;
      transform: scale(1);
  }
  to {
      opacity: 0;
      transform: scale(1.2);
  }
}

@keyframes moveRandom {
  0%, 100% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(20px, 20px);
  }
  50% {
      transform: translate(-20px, 20px);
  }
  75% {
      transform: translate(20px, -20px);
  }
}

@media  (max-width:760px) {
  
.year-titulo{
  font-size: 90px;

}
.year-line{
  left: 10%;
}
.year{
  font-size: 70px;
  margin-top: 50px;
}
.year-line2{
  left: 15%;
 
}

.container-letras{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.titulo{
  margin-top: 20px;
  opacity: 0;
  font-size: 25px;

}
}